:root {

    --primary-color: #22223b;
    --secondary-color: #4a4e69;
    --tertiary-color: #9a8c98;
    --accent-dark-color: #c9ada7;
    --accent-light-color: #f2e9e4;

    --font-size: 1.1rem;

    --border-radius: 8px;
    --box-shadow: 4px 4px 8px 0 var(--accent-dark-color);

}

body {

    color: var(--primary-color);
    background-color: var(--accent-light-color);
}

.w-100 {

}


.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}


.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.main-container {

}

.nav-container {

}


.nav-link {


}

.nav-link:hover {

}


.btn {


}

.btn:hover {

}

.btn-primary {

}


.btn-secondary {

}


.btn-primary-outline {

}


.btn-secondary {

}


a {


}

input {

}

.auth-form-container {

}

.auth-form {

}



.task-card-main-container{
    height: 100%;
    width: 100%;
}

.task-card-container{


}

.task-card-header{

}

.task-card{

}